<div class="tabs-item" id="tab-2">
    <div class="popup__title">Авторизоваться</div>
    <form class="popup__form" method="post" novalidate id="authorization-form">
        {% csrf_token %}
        <div class="popup__form-item">
            <input type="text" class="input__prem" name="username" placeholder="Введите свой никнейм">
            {% for error in auth_form.username.errors %}
                <p class="help-block">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="popup__form-item">
            <input type="password" class="input__prem" name="password" placeholder="Введите пароль">
            {% for error in auth_form.password.errors %}
                <p class="help-block">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="popup__form-item">
            <button class="btn__prem" type="submit" name="auth_submit">Авторизироваться</button>
        </div>
    </form>
</div>