{% load static %}
<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div>©2024 ВСЕ ПРАВА ЗАЩИЩЕНЫ</div>
            <div class="header__social">
                <img src="{% static 'img/vk-icon.png' %}" alt="">
                <div class="header__social-des">
                    <p>Мы Вконтакте</p>
                    <a href="https://vk.com/bloodcult.clan">https://vk.com/bloodcult.clan</a>
                </div>
            </div>
            <a href="javascript:;" >политика конфендициальности</a>
        </div>
    </div>
</footer>