:root {
    --font-family: "Roboto", sans-serif;
    --textColor: #fff;
    --mainBgColor: #090909;
    --colorPlaceholder: #fff;
    --main-prem: #ED1B25;
    --main-item: #2E2E2E;
    --container: 1440px;
}