

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --font-family: "Roboto", sans-serif;
  --textColor: #fff;
  --mainBgColor: #090909;
  --colorPlaceholder: #fff;
  --main-prem: #ED1B25;
  --main-item: #2E2E2E;
  --container: 1440px;
}

body {
  font-family: var(--font-family);
  line-height: 1.2;
  font-size: 16px;
  color: var(--textColor);
  font-weight: 400;
  background: var(--mainBgColor);
  position: relative;
  overflow-x: hidden;
}
body.active {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: var(--font-family);
}

a {
  color: var(--textColor);
}

h1, h2, h3, h4 {
  font-family: var(--second-family);
}

.main {
  overflow: hidden;
}

.btn__item, .btn__prem {
  font-family: var(--font-family);
  cursor: pointer;
  border: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
  padding: 0px 20px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  line-height: 1;
  gap: 15px;
  color: #fff;
}

.btn__prem {
  background: var(--main-prem);
}
.btn__prem:hover {
  background: #b4131c;
}

.btn__item {
  background: var(--main-item);
}
.btn__item:hover {
  background: #b4131c;
}

.container {
  max-width: var(--container);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

section {
  position: relative;
  z-index: 1;
}

.input__prem {
  outline: none;
  background: #090909;
  border: none;
  font-weight: 400;
  font-size: 16px;
  height: 70px;
  padding: 0px 30px;
  color: var(--textColor);
  width: 100%;
  border: 1px solid #2E2E2E;
}
.input__prem::-moz-placeholder {
  color: var(--colorPlaceholder);
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
}
.input__prem::-webkit-input-placeholder {
  color: var(--colorPlaceholder);
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
}
.input__prem:-ms-input-placeholder {
  color: var(--colorPlaceholder);
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
}
.input__prem::-ms-input-placeholder {
  color: var(--colorPlaceholder);
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
}
.input__prem::placeholder {
  color: var(--colorPlaceholder);
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
}
.input__prem::focus {
  border: 1px solid var(--main-prem);
}

.header {
  padding: 15px 0px;
  background: var(--mainBgColor);
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  text-align: center;
  text-decoration: none;
}
.header__logo img {
  width: 100px;
  margin-bottom: 10px;
}
.header__logo > div {
  font-weight: 500;
}
.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.header__social-des p {
  margin-bottom: 4px;
}
.header__social-des a {
  font-size: 15px;
  color: #fff;
}
.header__acc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.header__acc-name {
  margin-bottom: 4px;
  text-decoration: none;
  color: #fff;
  display: block;
}
.header__acc-link {
  color: var(--main-prem);
  display: block;
}
.header__avatar {
  background: url("../img/header-ava-border.png") center/cover;
  width: 84px;
  height: 84px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__avatar-inner {
  width: 54px;
  height: 54px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__avatar-inner > img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 150%;
  height: 150%;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.footer {
  padding: 60px 0px;
  background: var(--mainBgColor);
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 13px;
  color: #797979;
}
.footer__inner > a {
  color: #797979;
  text-transform: uppercase;
}

.intro {
  background: url("../img/intro-bg.jpg") center/contain no-repeat;
  height: 100vh;
}
.intro__inner {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-bottom: 145px;
}
.intro__btn {
  width: 400px;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  background: url("../img/intro-btn.png") center/cover no-repeat;
  text-decoration: none;
  font-size: 22px;
}

.popup {
  background: var(--mainBgColor);
  padding: 30px 40px;
}
.popup__main .tabs-nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 40px;
}
.popup__main .tabs-nav li a {
  text-decoration: none;
  padding: 0px 26px 26px 26px;
  border-bottom: 1px solid #414141;
  width: 100%;
  display: block;
  text-align: center;
}
.popup__main .tabs-nav li a.active {
  border-bottom: 1px solid var(--main-prem);
}
.popup__title {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 40px;
}
.popup__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}
.popup__form .btn__prem {
  width: 100%;
}

.main-form-checkbox {
  display: block;
  position: relative;
  padding-left: 50px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.main-form-checkbox-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.main-form-checkbox-checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 32px;
  width: 32px;
  border: 1px solid #7a7a7a;
}

.main-form-checkbox-input:checked ~ .main-form-checkbox-checkmark {
  background: var(--main-prem);
}

.main-form-checkbox-input:checked ~ .main-form-checkbox-checkmark::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  background: url("../img/check-icon.svg") center/contain no-repeat;
}

.main-form-checkbox-text {
  font-size: 14px;
  color: #686868;
}

.main__dkp {
  background: url("../img/dkp-bg-2.jpg") center/contain no-repeat;
  min-height: 100vh;
  padding: 0px 0px 70px 0px;
}

.dkp__inner .tabs-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  margin-bottom: 40px;
  position: relative;
  bottom: -180px;
}
.dkp__inner .tabs-nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 30px;
  background: #2E2E2E;
  text-decoration: none;
}
.dkp__inner .tabs-nav a.active {
  background: var(--main-prem);
}
.dkp__title {
  margin-bottom: 140px;
  font-size: 35px;
  font-weight: 400;
}
.dkp__tabs {
  margin-bottom: 30px;
}
.dkp__tabs-title {
  margin-bottom: 10px;
}
.dkp__tabs-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  background: var(--mainBgColor);
}
.dkp__tabs-item > div {
  padding: 25px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #2E2E2E;
}
.dkp__pag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.dkp__pag a:last-child {
  margin-left: 5px;
}
.dkp__pag-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  background: #000;
  text-decoration: none;
  border: 1px solid var(--main-item);
}
.dkp__pag-item.active {
  background: var(--main-prem);
}
.dkp__auc {
  padding: 55px 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  border: 1px solid #2E2E2E;
  background: var(--mainBgColor);
  margin-bottom: 30px;
}
.dkp__auc-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dkp__auc-item .btn__prem {
  width: 100%;
}
.dkp__auc-name {
  color: #959595;
}
.dkp__auc-name span {
  color: #fff;
}
.dkp__auc-timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.dkp__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.popup__auc-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.popup__auc-form .btn__prem {
  width: 100%;
}

.counter__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.field__wrapper {
  width: 100%;
  position: relative;
  margin: 15px 0;
  text-align: center;
}

.field__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.field__file-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 1px solid #c7c7c7;
  padding-right: 20px;
}

.field__file-fake {
  height: 60px;
  width: calc(100% - 130px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  border-radius: 3px 0 0 3px;
  border-right: none;
}

.field__file-button {
  width: 30px;
  height: 30px;
  background: var(--main-prem);
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
}

.popup__main > h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 15px;
}
.popup__main .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #fff;
  line-height: 60px;
  padding-left: 20px;
}
.popup__main .select2-container--default .select2-selection--single {
  background: var(--mainBgColor);
  border: 1px solid var(--main-item);
  border-radius: 0px;
  height: 60px;
}
.popup__main .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 60px;
  right: 10px;
}

.select2-dropdown {
  z-index: 9999999 !important;
  background: var(--mainBgColor);
  border: var(--main-item);
  border-radius: 0px;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background: var(--main-prem);
}

.select2-search__field {
  display: none;
}

.header__logout-button {
  background: transparent;
  color: #ED1B25;
  border: none;
  outline: none;
  cursor: pointer;
}

.dkp__event {
  background: var(--mainBgColor);
  padding: 20px;
  margin-bottom: 40px;
}

.dkp__event-btn {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.dkp__event-title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
}

.dkp__event-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #2E2E2E ;
  padding: 10px 15px;
  margin-bottom: 5px;
}

.dkp__event-list {
  margin-bottom: 30px;
}

.dkp__event-list-btn {
  cursor: pointer;
  color: var(--main-prem);
  outline: none;
  background: transparent;
  border: none;
}

.acc {
  padding: 40px 0px;
}

.acc__title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
}

.acc__form {
  display: inline-block;
  margin-bottom: 30px;
  padding: 20px 40px;
  background: var(--mainBgColor);
  border: 1px solid var(--main-item);
}

.acc__form-row {
  display: inline-flex;
  align-items: center;
  gap: 20px;
}

.acc__form-item {
  min-width: 320px;
}

.acc__form-item .btn__prem {
  width: 100%;
}

.messages {
  padding: 20px;
  width: 400px;
  background: var(--mainBgColor);
  border: 1px solid var(--main-item);
}

.messages__box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000000ab;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9998;
}

.messages__box.active {
  display: none;
}

.alert {
  font-size: 24px;
}

@media (max-width: 1920px) {
  .intro {
    background: url("../img/intro-bg.jpg") center/cover no-repeat;
  }
  .main__dkp {
    background: url("../img/dkp-bg-2.jpg") center/cover no-repeat;
  }
}